start on (filesystem and net-device-up IFACE=lo)
stop on runlevel [!2345]

setuid factorio
setgid factorio

env DAEMON={{ factorio_binary }}
env OPTS="--server-settings {{ factorio_working_dir }}/data/server-settings.json  --start-server {{ game_save_path }}"

respawn
respawn limit 5 5

exec $DAEMON $OPTS
