[Unit]
Description=Factorio Server
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=factorio

[Service]
Type=simple
User=factorio
ExecStart={{ factorio_binary }} --server-settings {{ factorio_working_dir }}/data/server-settings.json  --start-server-load-latest

